.App {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.tab.active {
  font-weight: bold;
}

.content {
  margin: 0 auto;
  max-width: 800px;
}
